#page-landing {
  text-align: center;
  min-height: 100vh;

  display: flex;
}

#container {
  width: min(100%);
}

#class-2020 {
  color: black;
  position: absolute;
  bottom: clamp(8rem, 8rem, 15rem);
  right: 5px;
}
header {
  background-color: #011627;
  height: 6vh;
  width: 100%;

  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
}

header p {
  font-size: 2.3rem;
  font-weight: bold;
}

section img {
  width: clamp(25rem, 25vw, 56rem);
  margin-top: 15rem;
  vertical-align: middle;
}

.box-details-course {
  width: 100vw;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  margin-top: 8rem;
}

#item-box {
  border-radius: 3px;
}

.box-detail-mobile {
  width: 15rem;
  height: 12rem;
  background-color: #003f88;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 2rem;

  /* border-radius: 3px; */

  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.box-detail-data {
  width: 15rem;
  height: 12rem;
  background-color: #489fb5;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 2rem;

  /* border-radius: 4px; */

  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.box-detail-web {
  width: 15rem;
  height: 12rem;
  background-color: #5e7ce2;

  display: flex;
  align-items: center;
  justify-content: center;

  /* border-radius: 4px; */

  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.box-detail-mobile:hover {
  background-color: #00509d;
  transition: background-color 200ms;
}

.box-detail-data:hover {
  background-color: #82c0cc;
  transition: background-color 200ms;
}

.box-detail-web:hover {
  background-color: #92b4f4;
  transition: background-color 200ms;
}

footer {
  height: 8rem;
  width: 100%;
  position: absolute;

  bottom: 0;
  background: #011627;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer input {
  height: 45px;
  width: 35rem;
  float: left;

  border: 1px solid #000;
  border-radius: 5px 0 0 5px;

  padding: 10px;
}

footer #button-send {
  height: 43px;
  width: 75px;

  background-color: #f6f7f8;
  color: #000;

  font-size: 1.2rem;
  font-weight: bold;

  border: none;

  border-radius: 0 5px 5px 0;

  transition: background-color 200ms;
}

footer #validateEmail:hover {
  background-color: #b9cdda;
}
